<button type="button" label=" Download To PDF " pButton (click)="ExtractPDF()"></button>

<div id="contentToConvert" style="font-family: monospace;padding: 3%">
    <div class="grid">
        <div class="col-5" style="background-color: #179498;height: 115px;">

        </div>
        <div class="col-7">

        </div>
    </div>
    <div class="header">HARIHARASUDHAN.T</div>
    <div class="sub-header">Software Developer</div>
    <div class="grid" style="height: auto">
        <div class="col-5" style="background-color: #179498;height: auto;margin-top: 6px;">
            <div class="main">
                <div class="left-tittle">
                    PERSONAL PROFILE
                </div>
                <div class="left-content">
                    I am an experienced software developer seeking a full-time position in the field of development in Information Technology , where I can apply my knowledge and skills for continuous improvement.
                </div>
            </div>
            <div class="main">
                <div class="left-tittle">
                    KEY skills
                </div>
                <div class="Key-content">
                    <ul class="circle">
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>HTML/HTML5</li>
                        <li>CSS</li>
                        <li>scss</li>
                        <li>Bootstrap</li>
                        <li>Jquery</li>
                        <li>Json</li>
                        <li>NPM</li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="left-tittle">
                    TECHNOLOGIES
                </div>
                <div class="left-content">
                    <ul class="circle">
                        <li>Ionic framework</li>
                        <li>Angular 6,7,8,9</li>
                    </ul>
                </div>
            </div>

            <div class="main">
                <div class="left-tittle">
                    lINGUISTIC
                </div>
                <div class="left-content">
                    <ul class="circle">
                        <li>Tamil</li>
                        <li>English</li>
                        <li>Malayalam</li>
                    </ul>
                </div>
            </div>

            <div class="main">
                <div class="left-tittle">
                    CONTACT
                </div>
                <div class="left-content">
                    <div>+91 9095403163</div>
                    <div>hariharasudan57@gmail.com</div>
                    <div>Singanallur,</div>
                    <div>Coimbatore</div>
                </div>
            </div>


        </div>
        <div class="col-7">
            <div style="margin-left: 10px;margin-right: 10px;">
                <div class="main">
                    <div class="right-tittle">
                        PROFESSIONAL CAREER
                    </div>
                    <div class="right-content">
                        <div><strong>Software Developer</strong></div>
                        Thoughtbees Technologies Ltd. | Jun 2019 - Present
                    </div>
                </div>
                <div class="main">
                    <div class="right-tittle">
                        ACADEMIC BACKGROUND
                    </div>
                    <div class="right-content">
                        <div> SSLC - Govt Higher secondary School, Seenapuram | may 2013 </div>
                        <div> HSLC - SVV School,Gobichettipalayam | may 2015 </div>
                        <div> B.E (CSE) - Builders Engineering College | Jun 2019 </div>

                    </div>
                </div>
                <div class="main">
                    <div class="right-tittle">
                        TOOlS
                    </div>
                    <div class="right-content">
                        <ul class="circle">
                            <li>Visual Studio Code</li>
                            <li>GitLab</li>
                            <li>Postman</li>
                            <li>Bitbucket</li>
                            <li>Android studio</li>
                        </ul>
                    </div>
                </div>
                <div class="main">
                    <div class="right-tittle">
                        PROJECTS IN ANGULAR
                    </div>
                    <div class="right-content">
                        <ul class="circle">
                            <li>
                                <div>
                                    <strong>Parihaar -</strong> Mobile App and web Platform offers features and services for the HealthCare Providers as well as Patients.All round care of patients with arthritis.
                                </div>
                            </li>
                            <li> <strong>HRM (Newera) -</strong> shamil seft service. This is an ERP project. I completed three modules. One was the Leave request module and Loan module, Deduction module . apply for leave request then apply for loan and deduction.
                                and Going on...</li>
                            <li> <strong>ESS (Newera) - ESS One of the part of HRM </strong></li>
                            <li> <strong>Derma Clinic (web) -</strong>This is a booking appointment for a doctor and Over hundreds of people get treated for their Dermatology, Hair Transplant, Plastic Surgery and Laser Surgery needs every month in the Derma
                                clinic
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="main">
                    <div class="right-tittle">
                        PROJECTS IN IONIC FRAMEWORK
                    </div>
                    <div class="right-content">
                        <ul class="circle">
                            <li> <strong>Derma Clinic (Mobile) -</strong> Mobile Application</li>
                        </ul>
                    </div>
                </div>
                <div class="main">
                    <div class="right-tittle">
                        DECLARATION
                    </div>
                    <div class="right-content">
                        The information furnished above is correct to the best of my knowledge.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>