<div class="container">
    <h3>Add Your company Details</h3>
    <p style="margin-bottom: 35px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    <div class="main">
        <form [formGroup]="form">
            <div class="input-group">
                <label class="label">company Name</label>
                <input type="text" class="input-text" formControlName="companyName" pInputText />
                <div *ngIf="form.touched && form.controls['companyName'].invalid" class="error"> company Name is required</div>
            </div>
            <div class="input-group">
                <label class="label">Email Id</label>
                <input type="text" class="input-text" formControlName="Emailid" pInputText />
                <div *ngIf="form.touched && form.controls['Emailid'].invalid" class="error"> Email Id is required</div>
            </div>
            <div class="input-group">
                <label class="label">Job Title</label>
                <input type="text" class="input-text" formControlName="JobTitle" pInputText />
                <div *ngIf="form.touched && form.controls['JobTitle'].invalid" class="error"> Job Title is required</div>
            </div>
            <div class="input-group">
                <label class="label">Years of Experience</label>
                <input type="number" class="input-text" maxlength="2" (keypress)="numberOnlyValidation($event)" formControlName="Experience" pInputText />
                <div *ngIf="form.touched && form.controls['Experience'].invalid" class="error">Years of Experience is required</div>
            </div>
            <div class="input-group" style="float: left;width: 100%;">
                <p-checkbox value="checked"></p-checkbox> <span>
                    I accept the <strong style="color: orange;"> Terms and conditions</strong>
                </span>
            </div>
            <div class="input-group grid">
                <span class="col-4"><a routerLink="/Personal">  <button class="back" style="width: 20%;">Back</button></a>
                   
                </span>
                <span class="col-4">
                    <button type="submit" style="width: 70%;" class="submit" (click)="onSubmit()">Send OTP</button>
                </span>
            </div>
        </form>
    </div>
</div>